
<div class="mt-4">





        <h3>dang khoa hoc</h3>
        <h1>req.params</h1>
        <h1>{{course}}</h1>

         <form method="POST" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">name address</label>
                <input type="text" class="form-control" value="{{course.name}}" id="name"  name="name">

                  </div>
                <div class="form-group">
                <label for="img" value="">i address</label>
                <input type="text" class="form-control" value="{{course.img}}" id="img"  name="img">
               
            </div>
           
               
            </div>
               <div class="form-group">
                <label for="description">where address</label>
                <input type="text" class="form-control" value="{{course.description}}" id="description"  name="description">
               
            </div>
           
              <div class="form-group">
                <label for="videoId">video value="" 2d</label>
                <input type="text" class="form-control" value="{{course.videoId}}" id="videoId"  name="videoId">
               
          
           
           
            
           
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>

</div>