<div class="mt-4">

  <h3>khoa hoc cua toi</h3>
  <a href="/me/trash/courses"> trash can</a>

<table class="table">
  <thead>
        <tr>
                <th scope="col">#</th>
                <th scope="col">name corse</th>
                <th scope="col">Level</th>
                <th scope="col">time</th>
        </tr>
  </thead>
        <tbody>
            {{#each courses}}
                <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>

                <td>{{this.videoId}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">sua</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}"  data-toggle="modal" data-target="#delete-course-modal">xoa</a>
                </td>

                
                </tr>


                     {{else}}
                     <tr>
                    <td colspan="5" class="text-center">
                    ban chua dang khoa hoc nao ca.

                      <a href="/courses/create">dang khoa hoc </a>
                  </td>
                </tr>
            {{/each}}
        </tbody>
</table>

</div>






<div class="modal" id="delete-course-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">huy</button>
        <button  id="btn-delete-course" type="button" class="btn btn-secondary" data-dismiss="modal">xoa bo  21</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="post" action="">



</form>

<script>


    document.addEventListener('DOMContentLoaded', function() {

        var courseId;
        var deleteForm = document.forms['delete-course-form']

$('#delete-course-modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  courseId = button.data('id') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    console.log(courseId)
});
var btnDeleteCourse = document.getElementById('btn-delete-course');

    btnDeleteCourse.onclick= function(){
        alert(courseId);
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
        deleteForm.submit();
    }

});
</script>